<!DOCTYPE html>
<html>
<head>
    @{ ViewBag.Title = "Contact Information - Evolent Health";}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="main-container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div style="width:230px !important; height:50px !important;">
                    <a href="@Url.Action("Index")" title="Contact Application Home" class="navbar-brand">
                        <img alt="Contact Application Home" src="@Url.Content("~/logo.png")" class="logo navbar-btn pull-left" style="width:120px; ">
                        Contact Application
                    </a>
                        </div>
                     @*@Html.ActionLink("Evolent Health Contact Application", "Index", "Contacts", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
            </div>
        </div>
        <div class="container body-content margin-top20">
            @RenderBody()
            <br/><br/><br/>
        </div>
    </div>
    <footer>
        <p><strong>Copyright &copy; @DateTime.Now.Year - Evolent Health contact information application. All rights reserved.</strong></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
